<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="__LAYUI__/css/layui.css">
    <link rel="stylesheet" href="__CSS__/base.css">
    <script type="text/javascript" src="__JS__/jquery-2.2.3.min.js"></script>
</head>
<body class="login-page" style="height:100%;">
<!-- particles.js container -->
<div id="particles-js" style="height:100%;"></div>

<script type="text/javascript" src="__JS__/particles.js"></script>
<script type="text/javascript" src="__JS__/app.js"></script>

</body>
</html>