{include file="public/header" /}
<!-- 内容主体区域 -->
<div class="layui-row">
    <div class="layui-col-xs12">
        <div class="w_bg" style="padding: 15px">
            <!--选项卡-->
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this" style="background-color: #fff">授权角色</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <form class="layui-form" method="POST" action="" onsubmit="return false" >
                            <input type="hidden" name="id" value="{$data.id}" />
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-block">
                                    <input type="text"  disabled="disabled" value="{$data.username}" required lay-verify="required"
                                           placeholder="用户名" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">授权角色</label>
                                <div class="layui-input-block">
                                    {volist name="groupList" id="vo"}
                                      <input type="checkbox" name="group_id[]" value="{$vo.id}" {if condition="isset($vo.ischeck) &&$vo.ischeck eq 'y'"}checked="checked"{/if} title="{$vo.title}" lay-skin="primary" >
                                    {/volist}
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn submits" lay-submit lay-filter="formDemo">提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">撤销</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}