<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="__LAYUI__/css/layui.css">
    <link rel="stylesheet" href="__CSS__/base.css">
</head>
<body class="login-page" style="height:100%;">
<!-- particles.js container -->
<div id="particles-js" style="height:100%;"></div>
<div class="login-box">
    <div class="login-logo"><a href="#" style="color: #fff">Myadmin</a></div>
    <div class="login-box-body">
        <p class="login-box-msg">请填写用户名密码登陆系统</p>
        <form action="/admin/login/checklogin" method="POST" onsubmit="return false" >
            <div class="layui-form-item">
                <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-item">
                <input type="password" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" name="code" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <img src="{:captcha_src()}" alt="captcha" id="code"
                         onclick="this.src='{:captcha_src()}?rnd=' + Math.random();"/>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-md4 layui-col-md-offset8">
                    <button class="layui-btn login" type="submit">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="__JS__/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.form.js"></script>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__/particles.js"></script>
<script type="text/javascript" src="__JS__/app.js"></script>
<script type="application/javascript">
    /**
     * login
     */
    $(function(){
        //登陆
        layui.use('layer', function() {
            var layer = layui.layer;
            $('body').off('click', '.login');
            $('body').on("click", '.login', function(event){
                var _this = $(this);
                var form = _this.closest('form');
                if(form.length){
                    var ajax_option={
                        dataType:'json',
                        beforeSend:function(XMLHttpRequest){
                            layer.load(2);
                        },
                        success:function(data){
                            layer.closeAll();
                            if(data.status == '1'){
                                layer.msg(data.info, {icon: 1,time: 2000});
                                setTimeout(function(){
                                    var url = data.url;
                                    window.location.href = url;
                                },2000);
                            }else{
                                layer.msg(data.info, {icon: 1,time: 2000});
                                $('#code').click();
                            }
                        }
                    }
                    form.ajaxSubmit(ajax_option);
                }
            });
        });
    })


</script>

</body>
</html>